# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

.DS_Store
*~
.sass-cache

# PyCharm
.idea/

# VirtualEnv dir
.venv/

# Coverage
.coverage
cover

#PyPi
Python_CartolaFC.egg-info/
dist/

# Tox
.tox/

# Helper scripts
deploy.sh
