# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

.DS_Store
*~
.sass-cache

# PyCharm
.idea/

# VirtualEnv dir
pyEnv/

# Coverage
.coverage
cover

#PyPi
Python_CartolaFC.egg-info/
dist/

# Sphinx
docs/build/

# Tox
.tox/
